################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/TroveTools.NET/v14
/TroveTools.NET
Thumbs.db
