<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TroveTools.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <TroveTools.NET.Properties.Settings>
      <setting name="LastAddModLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="LocationsJson" serializeAs="String">
        <value/>
      </setting>
      <setting name="MyModsJson" serializeAs="String">
        <value/>
      </setting>
    </TroveTools.NET.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} %-5level %logger - %message%newline"/>
      </layout>
      <threshold value="Debug"/>
    </appender>
    <appender name="NotifyAppender" type="TroveTools.NET.Framework.NotifyAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} %-5level %logger - %message%newline"/>
      </layout>
      <threshold value="Info"/>
    </appender>
    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="NotifyAppender"/>
    </root>
  </log4net>
</configuration>
