<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.14.0" targetFramework="net46" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net46" />
  <package id="HtmlRenderer.WPF" version="1.5.0.6" targetFramework="net46" />
  <package id="Humanizer.Core" version="2.1.0" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Log4Slack" version="1.1.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net46" />
  <package id="sharpconfig" version="2.0.1" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="System.Collections" version="4.0.11" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net46" />
  <package id="System.Linq" version="4.1.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net46" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net46" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net46" />
</packages>